$font-stack:    'Open Sans', sans-serif;
$primary-color: #42577F;
$secondary-color: #68707F;
$container-width: 100%;
$column-count: 12;
$margin: 1%;
$column: ($container-width / $column-count);

body {
  font: 100% $font-stack;
  color: $primary-color;
  width: 80%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  background-color: white;
  padding: 3%;
}

a {
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $secondary-color;
}

.bold-text{
    font-weight:800;
}

nav {
  display:inline-block;
  width: 100%;
  border-bottom: 2px gray solid;
  padding-bottom: 1%;
  .name-box{
    display: inline-block;
    float:left;
    p {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      &.name {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    vertial-align: bottom;
    li {
      display: inline-block;
      width: 10%;
      float: right;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  }
}

.wrapper {
  width: $container-width;
  padding-top: 5%;
}

.intro {
  width: 6 * $column;
  display: inline-block;
  float: left;
  padding-left: 3%;
  padding-top: 4%;
  font-size: 2.0em;
  text-align:center;
  text-transform:uppercase;
  p {
    margin:4%;
  }
}

.photo {
  width: (5 * $column);
  height: 470px;
  display: inline-block;
  margin: 0 auto;
  float:left;
  img {
    width: $container-width;
  }
}

.fa-angle-down {
  clear: both;
  margin: 0 auto;
  display: block;
}

section{
  clear:both;
  border-top: 1px $primary-color solid;
  h1 {
    font-size: 2.0em;
    font-weight:normal;
    margin-bottom: 1%;
  }
  margin-bottom: 8%;
  padding-top: 3%;
}

.about-me-text {
  h2 {
    font-size: 3.0em;
    margin: 0;
  }
  h3 {
    font-size: 1.8em;
  }
  a{
    font-weight:bold;
  }
text-align:center;
font-size: 1.1em;
}

#projects-section {
  width: $container-width;
  .all-projects {
    text-align:center;
  }
  ul.projects-list {
    list-style-type: none;
    margin: 0;
    padding: 3% 0 0 0;
    text-align: center;
    li {
      display:inline-block;
      width: 450px;
      margin: 0 3% 3% 0;
      position: relative;
      font-weight: normal;
      img {
        width: 450px;
        height: 250px;
        outline: 2px $primary-color solid;
        margin: 0 auto;
      }
    }
  }
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color:white;
  cursor: pointer;
  display: table;
  width: 450px;
  height: 250px;
  position: absolute;
  text-transform: uppercase;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  span {
    font-size: 2.0em;
    display: table-cell;
    text-align: center;
    vertical-align:middle;
  }
}

ul.projects-list li:hover span.text-content {
  opacity: 1;
}



.contact-icons {
  margin-top: 3%;
  h2 {
    text-align:center;
  }
  ul {
    list-style-type:none;
    text-align:center;
    li {
      display: inline-block;
      width: 10%;
      margin: 0 auto;
      padding:1%;
      text-transform: uppercase;
      font-size: 1.1em;
      a {
        color: $primary-color;
        text-decoration: none;
      }
      a:hover{
        color: black;
      }
    }
  }
}

.footer {
  padding: 0;
  margin-bottom: 3%;
}

