body, html {
  padding:0;
  color:#000;
  background: gray;
  font-family: 'Varela Round', sans-serif;
}

#container {
  margin:0 auto;
}

#header {
  height:100px;
  text-align:center;
  background-color:#303035;
  padding:5px 10px;
  margin:0;
  }

#header h1 {
  line-height:100px;
  color:white;
  font-size: 350%;
  margin:0;
}

#nav {
  width:100%;
  margin:5px auto;
  background-color:#16A79D;
}

#nav ul{
  list-style-type:none;
  text-align:center;
  padding:12px;
  width:90%;
  overflow:hidden;
  margin:0 auto;
}

#nav li{
  display:inline-block;
  width:250px;
  margin:0 auto;
}

#nav a{
  text-transform:uppercase;
  text-decoration:none;
  color:white;
}

#main {
  float:left;
  width:65%;
  padding:10px 0px;
  background:#4D505B;
  color:#E6E6E6;
  height:750px;
}

#blogpost {
  margin:0;
  padding:10px 30px;
}

#sidebar {
  background:#4D505B;
  float:right;
  width:33%;
  padding:10px 10px;
  height:750px;
}

#blogs{
  color:white;
  background-color:#80628B;
  position:relative;
  width:90%;
  left:20px;
  top:20px;
  padding:10px 0px;
  margin:0;
}

#blogs h3{
  text-align:center;
  font-size:30px;
  padding:5px 10px;
  margin:0;
}

#blogs p{
  text-align:center;
  padding:0px 10px;
  margin:0;
}

#blogs a {
  text-decoration: none;
  line-height: 30px;
  color:beige;
}

#sidebar h4{
  color:white;
  text-transform: uppercase;
  margin:0;
  padding:10px 5px;
  position:relative;
  top:30px;
}

#contactlinks{
  display:inline-block;
}

h5{
  text-transform: uppercase;
  font-size:30px;
  margin:0;
  text-align: center;
  position:relative;
  top:20px;
}

#contactlinks p{
  text-align:center;
}

#twitter {
  color:white;
  background-color:#F4AC42;
  position:relative;
  width:45%;
  margin:10px;
  top:35px;
  height:140px;
  float:left;
}

#twitterbutton{
  position:relative;
  top: -10px;
  left: 65px;
}

#linkedin {
  color:white;
  background-color:#1C6A81;
  position:relative;
  width:45%;
  margin:10px;
  top:35px;
  height: 140px;
  float:left;
}

#linkedinbutton{
  position:relative;
  top:-10px;
  left: 35px;
}

#google {
  color:white;
  background-color:#CF4858;
  width:45%;
  margin:10px;
  height:140px;
  position:relative;
  top: 35px;
  float:left;
}

#googlebutton{
  position:relative;
  top:-10px;
  left: 70px;
}


#github {
  color:white;
  background-color:#16A79D;
  margin:10px;
  position:relative;
  width:45%;
  height: 140px;
  float:left;
  top:35px;
}

#githubbutton{
  position:relative;
  top:-10px;
  left: 70px;
}


#footer {
  background-color:#303035;
  clear:both;
  padding:5px 10px;
}

#footer p {
  color:white;
  margin:0;
  padding:0;
}