#header {
  width:100%;
  text-align:center;
  background-color:#140A00;
  margin:0;
}

h1{
  margin:0;
  color:white;
  font-family:Georgia;
  font-size:300%;
  padding:50px 0px 0px 0px;
}

.center {
  margin:0 auto;
}

#nav {
  width:100%;
  margin:0 auto;
  background-color:gray;
}

#nav ul{
  list-style-type:none;
  text-align:center;
  padding:10px;
  width:90%;
  overflow:hidden;
  margin:0 auto;

}

#nav li{
  display:inline-block;
  width:260px;
  margin:0 auto;
}

#nav a{
  text-decoration:none;
  color:#140A00;
  font-family:League Gothic;
  text-transform:uppercase;
  font-weight:bold;
}

#main{
  float:left;
  width:65%;
  padding:10px 0px;
  color:#140A00;
  font-family:Serif;
  line-height: 120%
}

#main h2{
  margin:10px 0px 10px 10px;
}

#main h3{
  margin:10px 0px 10px 10px;
}

#main h4{
  margin:10px 0px 10px 10px;
}

#main p{
  margin:10px 0px 10px 10px;
}

#sidebar{
  float:right;
  width:33%;
  padding:10px;
}

#footer{
  clear:both;
  width:100%;
  background-color:#140A00;
  padding:5px;
  color:white;
}

#footer p{
  margin:0;
}