body, html {
  padding:0;
  color:#000;
  background: #4D505B;
  font-family: 'Varela Round', sans-serif;
}

#container {
  margin:0 auto;
}

#header {
  height:55px;
  background-color:#303035;
  padding:10px 10px;
  margin:0;
  }

#header h1 {
  color:white;
  margin:0;
  padding: 10px;
}

#nav {
  width:100%;
  margin:5px auto;
  background-color:#16A79D;
}

#nav ul{
  list-style-type:none;
  text-align:center;
  padding:12px;
  width:90%;
  overflow:hidden;
  margin:0 auto;
}

#nav li{
  display:inline-block;
  width:250px;
  margin:0 auto;
}

#nav a{
  text-transform:uppercase;
  text-decoration:none;
  color:white;
}

#main {
  float:left;
  width:65%;
  padding:10px 0px;
  color:#E6E6E6;
  margin:0px 0px 10px 0px;
}

#aboutme {
  background-color:#CF4858;
  position:relative;
  width:90%;
  left:30px;
  top:20px;
  padding:20px 10px;
}

#aboutme h2{
  float:left;
  font-size:100px;
  margin:0;
  padding: 0px 20px 10px 20px;
}

#aboutme p{
  margin:0;
  padding:5px 10px;
  line-height: 130%;
}

#aboutme h4 {
  padding: 0px 10px;
  font-size: 120%;
  font-weight: bold;
}

#main h3{
  position:relative;
  top:20px;
  left:20px;
  margin:30px 0px;
}

#sidebar {
  float:right;
  width:33%;
  padding:10px 10px;
}

#photo {
  position:relative;
  left:-20px;
}

#footer {
  background-color:#303035;
  clear:both;
  padding:5px 10px;
}

#footer p {
  color:white;
  margin:0;
  padding:0;
}